body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.message-form {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.message-input {
  border: none;
  border-top: 1px solid #ddd;
  font-size: 16px;
  padding: 20px;
  width: calc(100% - 40px);
}

#chat-panel {
  width: 100%;
}

input:focus {
  outline: none;
}
